{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block header %}This is the {{animal.name|title}}{% endblock %}

{% block body %}


    <div class="row align-items center">

        <div class="col-2 text-center ">
          <img src="{{ asset('images/animals/' ~ animal.image) }}" alt="{{ animal.name }}">
        </div>
        <div class="col-auto">
            <a href="{{ path("show_animal", {'id': animal.id}) }}"><h2 class="animals">{{ animal.name }}</h2></a>
            <p>{{ animal.description }}</p>
            <p>{{ animal.weight }} kilos</p>
            {{animal.dangerous ? '<p style="color: red;">dangerous</p>' : '<p style="color: green;">not dangerous</p>'}}
            <a href="{{ path("show_family", {'id': animal.family.id}) }}" class="btn btn-primary">{{ animal.family.label }}</a>
        </div>

    </div>

{% endblock %}
